body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.login-form {
    text-align: center;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.login-tabs {
    margin-bottom: 20px;
}

.login-tabs span {
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
}

.login-tabs span.active {
    background-color: red;
    color: white;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
